#App {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   background-color: rgb(255, 250, 240); //can be changed based on theme of team
  max-width: 1500px;
  width: 1500px;
}

#root {
  width: 1500px;
}

.main {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1500px;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  // justify-content: end;
  align-items: center;
  margin: 30px;
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: larger;
  // margin-right: 500px;
  // position: absolute;
}

.logo-img {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 250px;
  margin-right: 300px;
  float: left;
}

.searchbar {
  display: flex;
  // justify-content: left;
  // justify-content: flex-end;
  align-items: center;
  // padding: 5px;
  font-size: 0.75em;
  line-height: 30px;
  width: 400px;
  height: 40px;
  position: relative;
  left: 200px;
}

.searchbar:hover {
  position: relative;
  width: 400px;
  height: 40px;
}

#product-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 1400px;
}

.category-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: large;
}

.products {
  width: 300px;
  height: 400px;
  margin: 20px;
  border: thin;
  border-style: solid;
  background-color: #f9f9f9;
}

#product-card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  height: 325px;
}

.product-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 325px;
  width: 300px;
  background-color: #f9f9f9;
  z-index: 5;
}

.dropdown-product {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  max-width: 500px;
  width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  padding: 12px 16px;
  z-index: 10;
}

#product-card:hover .dropdown-product {
  display: block;
  flex-direction: column;
}



