// width: 500, maxWidth: '100%', maxHeight: '100%', position: 'fixed', left: '50%', top: '50%',
//========== Modal
.relatedModal {
  background-color: pink;
  height: 500px;
  overflow: auto;
  max-height: 100%;
  width: 500px;
  max-width: 100%;
  position: absolute;
  left: 25%;
  top: 25%;
  z-index: 100;
}

//======== Carousel
.relatedCarouselHeader {
  position: relative;
  font-size: 20px;
  font-weight: bold;
}

.relatedCarouselMap {
  position: relative;
  height: 325px;
  width: 200px;
  margin: 10px;
}

.relatedStar {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.relatedContentBundler {
  position: relative;
  bottom: 0px;
  background: white;
  width: 200px;
  height: 100px;
  align-items: bottom;
}

.outfitHeader {
  position: relative;
  width: 300px;
  font-size: 20px;
  font-weight: bold;
}

//================= Outfit CSS
.relatedOutfitCard {
  position: absolute;
  bottom: 40px;
  left: 25px;
  font-size: 20;
  font-weight: bolder;
}

.relatedOutfitButton {
  position: relative;
  color: green;
  height: 100px;
  width: 100px;
  left: 20%;
  top: 25%;
  // z-index: 20;
}
.relatedCardContainer {
  position: relative;
  height: 325px;
  width: 200px;
  margin: 10;
}

.outfitMainOuter {
  width: 100%;
  height: 340px;
  margin: 5px;
  overflow: hidden;
}

.outfitMainInner {
  display: inline-flex;
  float: left;
  position: relative;
  height: 325px;
  width: 200px;
  // z-index: 5px;
  margin: 10px;
}

.outfitPicture {
  float: left;
  height: 225px;
  width: 200px;
  margin: 5px;
}
// style={{color: 'red', position: 'relative', left: 5, top: 5, zIndex: 16}}
.outfitCloseCircle {
  color: red;
  position: relative;
  left: 5px;
  top: 5px;
  z-index: 16px;
}

.outfitCardFooter {
  background-color: white;
  height: 100px;
  width: 200px;
  position: relative;
  top: 200px;
}

#leftArrow, #rightArrow {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  top: 100px;
  z-index: 20;
}

#rightArrow {
  left: 5%;
}

#leftArrow {
  left: -85%;
}

.relatedModalClose {
  position: absolute;
  left: 48%;
  top: 36%;
}