//========== Modal
.relatedModal {
  background-color: pink;
  height: 500px;
  overflow: auto;
  max-height: 100%;
  width: 500px;
  max-width: 100%;
  position: absolute;
  left: 25%;
  top: 25%;
  z-index: 100;
}

.relatedCarouselMap {
  position: relative;
  height: 325px;
  width: 200px;
  margin: 10px;
}

.relatedStar {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 10px;
  right: 30px;
  z-index: 2;
}

.relatedContentBundler {
  position: relative;
  bottom: 0px;
  background: white;
  width: 200px;
  height: 100px;
  align-items: bottom;
}

.outfitHeader {
  position: relative;
  font-size: 20px;
  font-weight: bolder;
  width: 120px;
  top: 70px;
  text-align: center;
  color: white;
  background-color: black;
  transform: rotate(-45deg);
  z-index: 10;
}

//================= Outfit CSS
.relatedOutfitCard {
  position: absolute;
  bottom: 40px;
  left: 25px;
  font-size: 20;
  font-weight: bolder;
}

.relatedOutfitButton {
  position: relative;
  color: green;
  height: 100px;
  width: 100px;
  left: 20%;
  top: 25%;
  // z-index: 20;
}
.relatedCardContainer {
  position: relative;
  height: 325px;
  width: 200px;
  margin: 10;
}

.outfitMainOuter {
  width: 100%;
  height: 340px;
  margin: 5px;
  overflow: hidden;
}

.outfitMainInner {
  display: inline-flex;
  float: left;
  position: relative;
  height: 325px;
  width: 200px;
  margin: 10px;
}

.outfitPicture {
  float: left;
  height: 225px;
  width: 200px;
  margin: 5px;
}

.outfitCloseCircle {
  color: red;
  position: relative;
  left: 5px;
  top: 5px;
  z-index: 16px;
}

.outfitCardFooter {
  background-color: white;
  height: 100px;
  width: 200px;
  position: relative;
  top: 200px;
}

#leftArrow, #rightArrow {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  z-index: 20;
  margin: 5px;
}

.relatedModalClose {
  position: absolute;
  z-index: 60;
  left: 48%;
  top: 36%;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: rgb(247,105,3);
  background: linear-gradient(211deg, rgba(247,105,3,1) 0%, rgba(249,155,39,1) 23%, rgba(245,246,9,0.8603816526610644) 75%);
}

.carousel-container {
  width: 100%;
  display: relative;
  flex-direction: row;
  align-items: center;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  // overflow: auto;
}

.carousel-content-wrapper {
  overflow: hidden;
  float: left;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
}

.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  overflow: hidden;
  float: left;
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}

.relatedCarouselHeader {
  position: absolute;
  top: 55px;
  left: -10px;
  background-color: black;
  color: white;
  transform: rotate(-45deg);
  z-index: 10;
  font-size: 20px;
  font-weight: bolder;
}

.relatedCategory {
  margin: 2px;
  position: absolute;
  bottom: 20px;
  left: 10px;
  font-size: 16px;
  text-overflow: clip;
}

.relatedName {
  margin: 2px;
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-size: 16px;
  text-overflow: clip;
}

.relatedPrice {
  margin: 2px;
  position: absolute;
  top: 32px;
  left: 10px;
  font-size: 16px;
}

.relatedPicture {
  margin: 2px;
  position: relative;
  height: 225px;
  width: 200px;
  font-size: 16px;
}

.relatedModalOuter1 {
  position: fixed;
  top: 0;
  right: 20%;
  z-index: 70;
  border-bottom: 750px solid lightgray;
}

.relatedModalOuter2 {
  position: fixed;
  top: 0;
  right: 40%;
  z-index: 80;
  border-bottom: 750px solid gray;
}

.relatedModalOuter3 {
  position: fixed;
  top: 0;
  right: 60%;
  z-index: 90;
  border-bottom: 750px solid darkgray;
}

.relatedModalOuter1, .relatedModalOuter2, .relatedModalOuter3 {
  width: 0;
  height: 0;
  border-top: 250px solid transparent;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
}
// opacity: 100, overflow: 'auto', position: 'absolute', left: '50%',
//       top: '50%', height: 300, width: 400, backgroundColor: 'gray',
.relatedModalInner {
  overflow: auto;
  -ms-overflow-style: none;
  position: fixed;
  left: 44%;
  top: 87%;
  background-color: transparent;
  height: 200px;
  width: 500px;
}

.comparingText {
  position: fixed;
  font-size: 20px;
  font-weight: bolder;
  top: 70%;
  right: 53%;
  border-bottom: 2px solid black;
}