//========== Modal
.relatedModal {
  background-color: pink;
  height: 500px;
  overflow: auto;
  max-height: 100%;
  width: 500px;

  max-width: 100%;
  position: absolute;
  left: 25%;
  top: 25%;
  z-index: 100;
}

.relatedCarouselMap {
  position: relative;
  height: 325px;
  width: 200px;
  margin: 10px;
}

.relatedStar {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 10px;
  right: 30px;
  z-index: 2;
}

.relatedContentBundler {
  position: relative;
  bottom: 0px;
  background: white;
  width: 200px;
  height: 100px;
  align-items: bottom;
}

.outfitHeader {
  font-family: monospace;
  position: relative;
  font-size: 20px;
  font-weight: bolder;
  width: 150px;
  top: 73px;
  left: -15px;
  text-align: center;
  color: white;
  background-color: black;
  transform: rotate(-45deg);
  z-index: 10;
}

//================= Outfit CSS
.relatedOutfitCard {
  position: absolute;
  bottom: 40px;
  left: 25px;
  font-size: 20;
  font-weight: bolder;
}

.relatedOutfitButton {
  position: relative;
  color: green;
  height: 100px;
  width: 100px;
  left: 20%;
  top: 25%;
}
.relatedCardContainer {
  position: relative;
  height: 325px;
  width: 200px;
  border: 3px solid black;
  top: -1.5%;
  left: -2%;
}

.outfitMainOuter {
  width: 60%;
  height: 340px;
  overflow: hidden;
  border: 3px solid black;
}

.outfitMainInner {
  display: inline-flex;
  float: left;
  position: relative;
  height: 325px;
  width: 200px;
  margin: 10px;
}

.outfitPicture {
  float: left;
  height: 225px;
  width: 200px;
  margin: 5px;
}

.outfitCloseCircle {
  color: red;
  position: relative;
  left: 5px;
  top: 5px;
  z-index: 16px;
}

.outfitCardFooter {
  background-color: white;
  height: 100px;
  width: 200px;
  position: relative;
  top: 200px;
}

#leftArrow, #rightArrow {
  font-family: monospace;
  font-weight: bolder;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  z-index: 10;
  margin: 5px;
}

.relatedModalClose {
  font-family: monospace;
  font-size: 16px;
  font-weight: bolder;
  position: absolute;
  z-index: 60;
  left: 48%;
  top: 36%;
  height: 200px;
  width: 200px;
  border: 3px solid orange;
  border-radius: 50%;
  background: rgb(247,105,3);
  background: linear-gradient(211deg, rgba(247,105,3,1) 0%, rgba(249,155,39,1) 23%, rgba(245,246,9,0.8603816526610644) 75%);
}

.carousel-container {
  width: 100%;
  display: relative;
  flex-direction: row;
  align-items: center;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  border: 3px solid black;
  float: left;
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
}

.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  overflow: hidden;
  float: left;
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}

.relatedCarouselHeader {
  font-family: monospace;
  position: absolute;
  top: 68px;
  left: -19px;
  background-color: black;
  color: white;
  transform: rotate(-45deg);
  z-index: 10;
  font-size: 20px;
  font-weight: bolder;
}

.relatedCategory {
  margin: 2px;
  position: absolute;
  bottom: 20px;
  left: 10px;
  font-size: 16px;
  text-overflow: clip;
}

.relatedName {
  margin: 2px;
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-size: 16px;
  text-overflow: clip;
}

.relatedPrice {
  margin: 2px;
  position: absolute;
  top: 32px;
  left: 10px;
  font-size: 16px;
}

.relatedPicture {
  margin: 2px;
  position: relative;
  height: 225px;
  width: 200px;
  font-size: 16px;
}

.relatedModalOuter1 {
  position: fixed;
  top: 0;
  right: 20%;
  z-index: 70;
  border-bottom: 750px solid lightgray;
}

.relatedModalOuter2 {
  position: fixed;
  top: 0;
  right: 40%;
  z-index: 80;
  border-bottom: 750px solid gray;
}

.relatedModalOuter3 {
  position: fixed;
  top: 0;
  right: 60%;
  z-index: 90;
  border-bottom: 750px solid darkgray;
}

.relatedModalOuter1, .relatedModalOuter2, .relatedModalOuter3 {
  width: 0;
  height: 0;
  border-top: 250px solid transparent;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
}

.relatedModalInner {
  overflow: auto;
  -ms-overflow-style: none;
  position: fixed;
  left: 44%;
  top: 87%;
  background-color: transparent;
  height: 200px;
  width: 500px;
}

.comparingText {
  font-family: monospace;
  position: fixed;
  font-size: 20px;
  font-weight: bolder;
  top: 70%;
  right: 53%;
  border-bottom: 2px solid black;
}

.outfitName, .outfitPrice, .outfitCategory {
  font-size: 16px;
  font-weight: bold;
}

@keyframes testing {
  from {height: 225; width: 200}
  to {height: 450; width: 400}
}

#leftArrow {
  position: absolute;
}

.blueSky {
  height: 300vh;
  width: 300vh;
  position: fixed;
  top: 20%;
  left: -55%;
  border-radius: 50%;
  z-index: 10;
  background: rgb(8,64,241);
  background: radial-gradient(circle, rgba(8,64,241,1) 0%, rgba(10,153,238,1) 23%, rgba(132,139,217,0.9500175070028011) 75%);
}
