.add-ans {
  // display: flex;
  // flex-direction: column;
  // align-items: right;
  text-decoration: underline;
  margin-left: 20px;
}

.q-date {
  margin-left: 10px;
  margin-right: 10px;
}

#questions {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#question-span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: left;
  justify-content: left;
  font-family: sans-serif;
  margin-left: 15px;
}

.helpfulness {
  text-decoration: underline;
  margin-left: 15px;
  margin-right: 7px;
}

.a-date {
  margin-left: 10px;
  margin-right: 10px;
}

.report {
  text-decoration: underline;
  margin-left: 10px;
  margin-right: 10px;
}

.yes-no {
  margin-left: 7px;
  margin-right: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.asker-name {
  // margin-top: 2px;
  // margin-bottom: 20px;
}

.answers {
  // margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.answerers {
  font-family: sans-serif;
  margin-left: 15px;
  white-space: nowrap;
}

.by-ans {
  font-family: sans-serif;
  margin-bottom: 5px;
}

.by-ques {
  font-family: sans-serif;
  margin-bottom: 5px;
  font-weight: 600;
}

#ans-photos {
  margin-left: 15px;
  width: 100%;
  max-width: fit-content;
}