
.questions-answers {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  // align-items: center;
  justify-content: center;
}

#comp-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: medium;
  margin-bottom: 10px;
}

#search-bar {
  padding: 5px;
  font-size: 1em;
  line-height: 30px;
  width: 900px;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#qa {
  overflow: hidden;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 1000px;
  width: 900px;
  // align-items: center;
  // justify-content: center;
}

#qa:hover {
  overflow: auto;
}

  /* #search-but {
    text-indent: -99999px;
    width: 30px;
    height: 30px;
    display: block;
    background: gray
  } */

#questions {
  display: flex;
  // border-color: gray;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: 70%;
  flex: auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  // text-shadow: 2px 2px #1c87c9
}

#more-ans {
  display: inline-block;
  margin: 8px;
  width: 200px;
  height: 50px;
  border-radius: 0;
  border-width: thin;
  font-size: small;
  font-weight: bold;
  background-color: #f2f3f4;
}

#less-ans {
  display: inline-block;
  margin: 8px;
  width: 200px;
  height: 50px;
  border-radius: 0;
  border-width: thin;
  font-size: small;
  font-weight: bold;
  background-color: #f2f3f4;
}

#add-ques {
  display: inline-block;
  margin: 8px;
  width: 200px;
  height: 50px;
  border-radius: 0;
  border-width: thin;
  font-size: small;
  font-weight: bold;
  background-color: #f2f3f4;
}